## Задания по семинару 2

В ячеке под заданием приведите его решение. Для заданий, рассмотренных на семинаре, можете использовать решение полученное на занятии.

-----

0) Получить переменную, содержащую строку со значением равным двум в одиннадцатой степени и вывести ее на экран.

In [1]:
s = str(2**11)
print(s, type(s))

2048 <class 'str'>

1) Наибольшим количеством способов создать строковую переменную, содержащую текст:

It's "quoted string"

2) Наибольшим количеством способов создать строковую переменную, содержащую текст:

line1

line2

line3

3) Наибольшим количеством способов создать строковую переменную, содержащую текст:

\\\\\\\\

\\\\\\

\\\\

\\

In [22]:
s1= 'It\'s "quoted string"'
s2= "It\'s \"quoted string\""
s3= 'It'+"'"+'s "quoted string"'
s4= '''It's "quoted string"'''
b=' "quoted string"'
s5="It's %s" %b
print(s1,' ',s2,' ',s3,' ', s4,' ',s5)

It's "quoted string"   It's "quoted string"   It's "quoted string"   It's "quoted string"   It's  "quoted string"

----

In [15]:
z1='''line1
line2
line3'''
print(z1)
z1='line1 \nline2 \nline3'
print(z1)

line1
line2
line3
line1
line2
line3

In [6]:
z1='\\\\\\\ \n\\\\\ \n\\\ \n\\'
print(z1)

\\\\
\\\
\\
\

4) Вывести 5й с начала и 5й с конца символ из строки 'Hello world'

In [1]:
st = 'Hello world'
print(st[4],' ', st[-5])

o   w

5) Двумя способами получить символ 'w' из строки 'Hello world'

In [2]:
st='Hello world'
print(st[6],st[-5])

w w

6) Вывести символ, находящийся в середине заранее низвестной строки, полученной с помощью функции input()

In [9]:
s=input()
print(s[len(s)//2])

qwertyu
r

7) Для строки 'Light ray' двумя способами получить подстроку с 1го по 4й символы включительно.

In [4]:
s='Light ray'
print(s[0:4])
print(s[-9:-5])

Ligh
Ligh

8) Для строки 'My new text' двумя способами получить подстроку с 3го по 7й символы включительно.

In [11]:
s='My new text'
print(s[2:7])
print(s[-9:-4])

 new
 new

9) Получить подстроку из последних 4х символов строки 'Light ray'.

In [13]:
s='Light ray'
print(s[-4:])

 ray

10) Составить строку из всех четных символов строки 'Light ray'.

In [2]:
s='Light ray'
print(s[1::2])

ih a

11) Составить строку из всех нечетных символов строки 'Light ray'.

In [1]:
s='Light ray'
print(s[::2])

Lgtry

12) Инвертировать (получить строку с обратной последовательностью символо) строку  'Light ray'.

In [16]:
s='Light ray'
print(s[::-1])

yar thgiL

13) Вывести c третьего с начала до предпоследнего символа заранее низвестной строки, полученной с помощью функции input().

In [ ]:
s = input()
print(s[2:-1])

14) Получить подстроку неизвестной заранее строки, содержащую половину символов строки и расположенную по середине строки.

In [10]:
#cтрока кратна 4
s = input()
i = len(s)//4
print(s[i:-i])

AaBbCcDdEeGg
bCcDdE

----

15) Проверить, содержит ли произвольная строка, прочитанная в обратную сторону, последовательность 'eno'

In [48]:
s = input()
s1 = 'eno'
if s1 in s[::-1]:
    print('содержится')
else: 
    print('не содержится')

sone
содержится

16) Получить строку, начинающуюся с последних 3 символов стркои 'Light ray', а заканчивающуюся подстрокой с 1го до 4го  символоа строки.

In [29]:
s='Light ray'
print(s[-3:]+s[0:4])

rayLigh

17) Коротко записать создание строки 'oneoneoneoneoneonetwotwotwo'

In [19]:
print('one'*6+'two'*3)

oneoneoneoneoneonetwotwotwo

18) Разбить строку '  one,two,three,four,five,six,seven,eight,nine,ten   ' на список из строк, состоящих только из названий цифр.

In [56]:
s= ' one,two,three,four,five,six,seven,eight,nine,ten '
s.replace(' ','').split(',')

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

19) Вставить между всеми символами строки 'Hello world' стрелочку '->' и сохранить результат в строковой переменной(ожидаемый результат: 'H->e->l->l->o-> ->w->o->r->l->d')

In [68]:
s='Hello world'
'->'.join(s)

'H->e->l->l->o-> ->w->o->r->l->d'

20) Для двух произвольных строк провести сравнение на совпадение содержимого без учета регистра букв и начальных и конечных пробельных символов. Например, для двух строк '  HeLLO WOrlD' и 'hello WORLD  ' такое сравнение должно возвращать True (содержание строк совпадает).

In [49]:
s1= input()
s1=(s1.replace(' ','').lower())


s2=input()
s2=(s2.replace(' ','').lower())

s1==s2

True

21) В строке 'hello hello Hello hello' средствами Python найти индекс второго вхождения подстроки 'hel'

In [5]:
s='hello hello Hello hello' 
i=s.find('hel')
s.find('hel',i+1)

6

22) В строке 'hello hello Hello hello' средствами Python найти индекс второго с конца вхождения подстроки 'hel'

In [4]:
s='hello hello Hello hello' 
i=s.rfind('hel')
s.rfind('hel',0,i-1)

6

23) Из заранее неизвестной строки вырезать подстроку, начинающуюся с 'he' и заканчивающееся 'on' (протестировать на строке ' start hello python world'.

In [5]:
s = input()
s[s.find('he'):s.find('on')+2]

start hello python world

'hello python'

24)* Используя цикл for и функцию enumerate() (см. лекцию 2) в вывести произвольную строку на экран и при этом убрать все пробелы и на их месте вывести номер слова по счету (пример: исходная строка 'hello hello Hello hello' -> выведено на экран 'hello1hello2Hello3hello4')

In [2]:
s=input().split() 
for ind,symb in enumerate(s):
    print(symb,ind+1,sep='',end='')

hello hello Hello hello
hello1hello2Hello3hello4

25) Сформировать строку форматирования, которая для вызова format('val1', 'val2', 'val3') будет возрващать следующий результат: 'val3-val2-val1-val2-val3'

In [2]:
'{2}-{1}-{0}-{1}-{2}'.format('val1', 'val2', 'val3')

'val3-val2-val1-val2-val3'

26) Сформировать строку форматирования fs, которая на при использовании в нижеследующем коде приводит к формированию таблицы, выведенной в следующей ячейке.

In [1]:
print("""
0123456789012345678901234567890123456789
|   1 | ###59.06|      453 | 00000001 |
|   5 | ##159.00|  123,453 | 00000111 |
|  15 | #-159.10| -     12 | 00010000 |
| 105 | -1059.10|    1,200 | 11111111 |
""")

0123456789012345678901234567890123456789
|   1 | ###59.06|      453 | 00000001 |
|   5 | ##159.00|  123,453 | 00000111 |
|  15 | #-159.10| -     12 | 00010000 |
| 105 | -1059.10|    1,200 | 11111111 |

In [10]:
print('0123456789'*4)
def f(a,b,c,d):
 s2='|{: >3}|{:#>8.2f}|{:=8}|{:0>8}|'.format(a,b,c,d) 
 return s2
print(f(1,59.06,453,1))
print(f(5,159.00,123.453,111))
print(f(15,-159.10,-12,10000))
print(f(105,-1059.10,1200,1111111))

0123456789012345678901234567890123456789
|  1|###59.06|     453|00000001|
|  5|##159.00| 123.453|00000111|
| 15|#-159.10|-     12|00010000|
|105|-1059.10|    1200|01111111|

In [1]:
print('0123456789'*4)
def f(a,b,c,d):
 s2=f'|{a: >3}|{b:#>8.2f}|{c:=8}|{d:0>8}|'
 return s2
print(f(1,59.06,453,1))
print(f(5,159.00,123.453,111))
print(f(15,-159.10,-12,10000))
print(f(105,-1059.10,1200,1111111))

0123456789012345678901234567890123456789
|  1|###59.06|     453|00000001|
|  5|##159.00| 123.453|00000111|
| 15|#-159.10|-     12|00010000|
|105|-1059.10|    1200|01111111|